// ---------------------------------------------------------------------------------------------------------------------
// Global
@import "../variables";
@import "../functions";
@import "../mixins";

// ---------------------------------------------------------------------------------------------------------------------
// Variables
:root {
	--hero-height: 0;
	--hero-apect-ratio: 16 / 9;
}

// ---------------------------------------------------------------------------------------------------------------------
// Basic
.hero {
	& {
		position: relative;
		display: grid;
		min-height: var(--hero-height);
		aspect-ratio: var(--hero-apect-ratio);
	}

	&__body {
		z-index: 10;
	}

	&__media {
		position: absolute;
		top: 0;	left: 0;
		width: 100%;
		height: 100%;
		z-index: 5;
	}
}