.ce-heading + .form {
	margin-top: var(--ce-spacing-heading);
}

.form__page {
	& {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: rem(32px) rem(32px);
		align-items: end;
	}

	&--space-before-default {
		margin-top: rem(32px);
	}

	&--space-before-medium {
		margin-top: var(--spacing-700);
	}
}

.form__label {
	& {
		font-size: var(--font-size-300);
		font-weight: var(--font-weight-semibold);
		cursor: pointer;
	}
}

.form__item {
	& {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-300);
	}

	&--width-25 {
		grid-column: auto / span 1;
	}

	&--width-33 {
		grid-column: auto / span 1;
	}

	&--width-50 {
		grid-column: auto / span 1;
	}

	&--width-75 {
		grid-column: auto / span 1;
	}

	&--width-0,
	&--width-100 {
		grid-column: auto / span 1;
	}

	&--date {
		position: relative;
	}
}

.form__field--textfield,
.form__field--textarea {
	& {
		display: flex;
		border: 0;
		border-radius: var(--border-radius-small);
		outline: rem(2px) solid var(--color-primary-200);
		outline-offset: -2px;
		box-shadow: 0 0 0 rem(3px) var(--color-primary-600);
		color: var(--color-secondary-700);
		transition-duration: all var(--transition-duration-default);
	}

	&::placeholder {
		color: var(--color-secondary-700);
	}

	&:focus {
		outline-color: #fff;
		box-shadow: 0 0 0 rem(3px) var(--color-primary-900);
		color: var(--color-secondary-900);
	}
}

.form__field--textfield {
	min-height: rem(42px);
	padding: 0 var(--spacing-400);
}

.form__field--textarea {
	padding: var(--spacing-400);
}

.form__checkbox {
	& {
		position: relative;
	}

	&::before {
		position: absolute;
		top: rem(2px); left: rem(1px);
		content: '';
		display: block;
		width: rem(21px);
		height: rem(21px);
		border: rem(2px) solid #fff;
		border-radius: var(--border-radius-tiny);
	}

	&::after {
		position: absolute;
		top: rem(2px); left: rem(1px);
		content: '';
		width: rem(21px);
		height: rem(21px);
		background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="%23fff" viewBox="0 0 16 16"><path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/></svg>');
		opacity: 0;
		transition: opacity var(--transition-duration-default);
	}

	&:focus-within {
		&::before {
			box-shadow: 0 0 0 rem(3px) var(--color-primary-900);
		}
	}

	&:has(.form__checkbox-field:checked) {
		&::after {
			opacity: 1;
		}
	}

	&-group {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: var(--spacing-300);
	}

	&-label {
		display: inline-block;
		position: relative;
		z-index: 10;
		padding-left: rem(36px);
		font-size: var(--font-size-300);
		font-weight: var(--font-weight-semibold);
		cursor: pointer;
	}

	&-field {
		position: relative;
		z-index: 5;
		width: 0;
		height: 0;
		opacity: 0;
	}
}

.form__datepicker {
	& {
		position: absolute;
		bottom: rem(5px);
		right: rem(5px);
		width: rem(33px);
		height: rem(33px);
		background: #fff;
		border-radius: var(--border-radius-small);
	}

	&::before {
		display: block;
		content: '';
		position: absolute;
		top: 6px; left: 6px;
		width: rem(21px);
		height: rem(21px);
		mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 22 22' xmlns='http://www.w3.org/2000/svg' xml:space='preserve' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2'%3E%3Cpath d='M4.60858-.19504c.47109 0 .85795.38687.85795.85796v.45792h10.12702V.66292c0-.47109.38686-.85796.85795-.85796s.85795.38687.85795.85796v.45792h1.11587c1.55405 0 2.83177 1.27773 2.83177 2.83178v14.47471c0 1.55406-1.27772 2.83178-2.83177 2.83178H2.63476c-1.55405 0-2.83177-1.27772-2.83177-2.83178V3.95263c0-1.55406 1.27772-2.83179 2.83177-2.83179h1.11587V.66292c0-.47109.38686-.85796.85795-.85796Zm-1.97382 3.0318c-.61188 0-1.11587.50398-1.11587 1.11586v14.47471c0 .61189.50399 1.11587 1.11587 1.11587h15.79056c.61188 0 1.11587-.50398 1.11587-1.11587V3.95263c0-.6119-.50399-1.11587-1.11587-1.11587H2.63476Z' fill='%23000' fill-rule='nonzero'/%3E%3Cpath d='M3.2927 5.2685c0-.36055.29739-.65794.65794-.65794h13.1588c.36055 0 .65794.2974.65794.65795v1.31588c0 .36055-.29739.65794-.65794.65794H3.95064c-.36055 0-.65794-.29739-.65794-.65794V5.2685Z' fill='%23000' fill-rule='nonzero'/%3E%3Cpath d='M14.53006 13.1034c0-.27418-.22406-.4977-.49914-.4977H7.02964c-.2773 0-.50135.22352-.50135.4977v.50067c0 .27716.22405.50068.50135.50068h7.00128c.27508 0 .49914-.22352.49914-.50068v-.50067Z' fill='%23000'/%3E%3Cpath d='M10.77951 17.35651c.27418 0 .4977-.22405.4977-.49914V9.85611c0-.2773-.22352-.50136-.4977-.50136h-.50067c-.27716 0-.50068.22406-.50068.50136v7.00126c0 .27509.22352.49914.50068.49914h.50067Z' fill='%23000'/%3E%3C/svg%3E");
		background: var(--color-secondary-800);
	}

	&:hover, &:focus-within {
		& {
			background: var(--color-primary-50);
		}

		&::before {
			background: var(--color-primary-600);
		}
	}

	&-field {
		width: 100%;
		height: 100%;
		opacity: 0;
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// >= 576px
@include media-breakpoint-up(sm) {
	.form__page {
		grid-template-columns: repeat(12, 1fr);
	}

	.form__item {
		&--width-25 {
			grid-column: auto / span 6;
		}

		&--width-33 {
			grid-column: auto / span 6;
		}

		&--width-50 {
			grid-column: auto / span 6;
		}

		&--width-75 {
			grid-column: auto / span 12;
		}

		&--width-0,
		&--width-100 {
			grid-column: auto / span 12;
		}
	}

	.form__checkbox {
		&-label {
			width: max-content;
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// >= 768px
@include media-breakpoint-up(md) {
	.form__item {
		&--width-25 {
			grid-column: auto / span 3;
		}

		&--width-33 {
			grid-column: auto / span 4;
		}

		&--width-75 {
			grid-column: auto / span 9;
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// >= 992px
@include media-breakpoint-up(lg) {
	.form__page {
		&--space-before-medium {
			margin-top: rem(80px);
		}
	}

	.form__field--textfield {
		min-height: rem(48px);
	}

	.form__datepicker {
		bottom: rem(7px);
		right: rem(7px);
	}

	.form__checkbox {
		&::before, &::after {
			top: rem(5px);
		}
	}
}