.ce-heading + .form {
	margin-top: var(--ce-spacing-heading);
}

.form__page {
	& {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: rem(32px) rem(32px);
		align-items: end;
	}

	&--space-before-default {
		margin-top: rem(32px);
	}

	&--space-before-medium {
		margin-top: var(--spacing-700);
	}
}

.form__label {
	& {
		font-size: var(--font-size-300);
		font-weight: var(--font-weight-semibold);
		cursor: pointer;
	}
}

.form__item {
	& {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-300);
	}

	&--width-25 {
		grid-column: auto / span 1;
	}

	&--width-33 {
		grid-column: auto / span 1;
	}

	&--width-50 {
		grid-column: auto / span 1;
	}

	&--width-75 {
		grid-column: auto / span 1;
	}

	&--width-0,
	&--width-100 {
		grid-column: auto / span 1;
	}
}

.form__field--textfield,
.form__field--textarea {
	& {
		display: flex;
		border: 0;
		border-radius: var(--border-radius-small);
		outline: rem(2px) solid var(--color-primary-200);
		outline-offset: -2px;
		box-shadow: 0 0 0 rem(3px) var(--color-primary-600);
		color: var(--color-secondary-700);
		transition-duration: all var(--transition-duration-default);
	}

	&::placeholder {
		color: var(--color-secondary-700);
	}

	&:focus {
		outline-color: #fff;
		box-shadow: 0 0 0 rem(3px) var(--color-primary-900);
		color: var(--color-secondary-900);
	}
}

.form__field--textfield {
	min-height: rem(42px);
	padding: 0 var(--spacing-400);
}

.form__field--textarea {
	padding: var(--spacing-400);
}

.form__checkbox {
	& {
		position: relative;
	}

	&::before {
		position: absolute;
		top: rem(2px); left: rem(1px);
		content: '';
		display: block;
		width: rem(21px);
		height: rem(21px);
		border: rem(2px) solid #fff;
		border-radius: var(--border-radius-tiny);
	}

	&::after {
		position: absolute;
		top: rem(2px); left: rem(1px);
		content: '';
		width: rem(21px);
		height: rem(21px);
		background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="%23fff" viewBox="0 0 16 16"><path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/></svg>');
		opacity: 0;
		transition: opacity var(--transition-duration-default);
	}

	&:focus-within {
		&::before {
			box-shadow: 0 0 0 rem(3px) var(--color-primary-900);
		}
	}

	&:has(.form__checkbox-field:checked) {
		&::after {
			opacity: 1;
		}
	}

	&-group {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: var(--spacing-300);
	}

	&-label {
		position: relative;
		z-index: 10;
		padding-left: rem(29px);
		font-size: var(--font-size-300);
		font-weight: var(--font-weight-semibold);
		cursor: pointer;
	}

	&-field {
		position: relative;
		z-index: 5;
		width: 0;
		height: 0;
		opacity: 0;
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// >= 576px
@include media-breakpoint-up(sm) {
	.form__page {
		grid-template-columns: repeat(12, 1fr);
	}

	.form__item {
		&--width-25 {
			grid-column: auto / span 6;
		}

		&--width-33 {
			grid-column: auto / span 6;
		}

		&--width-50 {
			grid-column: auto / span 6;
		}

		&--width-75 {
			grid-column: auto / span 12;
		}

		&--width-0,
		&--width-100 {
			grid-column: auto / span 12;
		}
	}

	.form__checkbox {
		&-label {
			width: max-content;
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// >= 768px
@include media-breakpoint-up(md) {
	.form__item {
		&--width-25 {
			grid-column: auto / span 3;
		}

		&--width-33 {
			grid-column: auto / span 4;
		}

		&--width-75 {
			grid-column: auto / span 9;
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// >= 992px
@include media-breakpoint-up(lg) {
	.form__page {
		&--space-before-medium {
			margin-top: rem(80px);
		}
	}

	.form__field--textfield {
		min-height: rem(48px);
	}

	.form__checkbox {
		&::before, &::after {
			top: rem(5px);
		}
	}
}