.header-default {
  font-family: var(--header-font-family);
  font-weight: var(--header-font-weight);
  line-height: var(--header-line-height);
}

.header-1 {
  @extend .header-default;
  font-size: var(--header-1-font-size);
  font-weight: var(--font-weight-normal);
}

.header-2 {
  @extend .header-default;
  font-size: var(--header-2-font-size);
}

.header-3 {
  @extend .header-default;
  font-size: var(--header-3-font-size);
}

.header-4 {
  @extend .header-default;
  font-size: var(--header-4-font-size);
}

.header-5 {
  @extend .header-default;
  font-size: var(--header-5-font-size);
}

.header-6 {
  @extend .header-default;
  font-size: var(--header-6-font-size);
}
