// ---------------------------------------------------------------------------------------------------------------------
// Main
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: var(--page-body-offset);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-line-height);
  color: var(--color-font);
  text-align: left;
}

main {
  width: 100%;
}