// ---------------------------------------------------------------------------------------------------------------------
// HTML
body {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-line-height);
  color: var(--color-font);
  text-align: left;
}

a {
  & {
    color: var(--color-interactive);
  }

  &:hover {
    color: var(--color-interactive-hover);
  }

  &:focus-visible {
    color: var(--color-interactive-focus);
    outline: var(--focus-outline-size) var(--focus-outline-style) var(--focus-outline-color);
    outline-offset: var(--focus-outline-offset);
  }
}

// ---------------------------------------------------------------------------------------------------------------------
// Page
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: var(--page-body-offset);
}

.page__main {
  width: 100%;
  flex: 1;
}

// ---------------------------------------------------------------------------------------------------------------------
// Page Header
.page-header {
  position: absolute;
  top: 0;
  left: 0; right: 0;
  height: var(--page-header-height);
  border-bottom: 1px solid var(--color-secondary-50);
}

.page-header__inner {
  padding: rem(12px 0)
}

.page__footer {
  //--color-font: gold;
}

// ---------------------------------------------------------------------------------------------------------------------
// Page Footer
.page-footer {
  & {
    font-size: var(--font-size-300);
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: var(--spacing-400);
    padding: var(--spacing-500) 0;
  }
}

// ---------------------------------------------------------------------------------------------------------------------
// Footer Navigation
.navigation-footer {
  --navigation-item-font-weight: var(--font-weight-semibold);
}