// ---------------------------------------------------------------------------------------------------------------------
// Page
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: var(--page-body-offset);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-line-height);
  color: var(--color-font);
  text-align: left;
}

.page__main {
  width: 100%;
  flex: 1;
}

// ---------------------------------------------------------------------------------------------------------------------
// Page Header
.page-header {
  position: absolute;
  top: 0;
  left: 0; right: 0;
  height: var(--page-header-height);
  border-bottom: 1px solid var(--color-secondary-50);
}

.page-header__inner {
  padding: rem(12px 0)
}