// ---------------------------------------------------------------------------------------------------------------------
// Sass
@use "sass:map";

// ---------------------------------------------------------------------------------------------------------------------
// Breakpoints
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1480px,
) !default;

// ---------------------------------------------------------------------------------------------------------------------
// Default Font-Size (fuer REM-Berechnung)
$font-size-default: 16px;
